.chemicalSupplies {
    width: 65%;
    margin-left: 17.5%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

button {
    border: none;
    background: transparent;
}

input {
    text-align: right;
    width: 70px;
}

p,
span,
th {
    text-align: left;
    padding: 0 10px 0 0;
}


table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

th {
    margin-right: 20px;
    cursor: pointer;
}

td:nth-of-type(2) {
    width: 25px;
}

td:nth-of-type(3) {
    width: 190px;
}

th {
    padding: 10px 0 40px 0;
}

tr:hover {
    background-color: rgb(190, 190, 194);
}